* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    top: 50px;
    background-image: url('/src/image/logo-em-construçao.png');    
    background-repeat: no-repeat;
    background-color: aliceblue;
}
